{% extends 'base.html' %}

{% block title %}Date Night{% endblock %}

{% block body %}
<!-- show names -->
<h1>Welcome {{ user.name1 }} and {{ user.name2 }}</h1>
<form action="/profile/edit"> 
    <div>
        <label>Do you want to add more here?</label>
        <button class="submit">Edit-Profile</button>
    </div>
</form>
<form action="/venues">
    <label>Would you like to view some venues?</label>
    <button class="submit">View Venues</button>
</form>
<div id="container"></div>

{% endblock %}